{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <h3 class="mb-3">Login</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="mb-3">
        <label class="form-label">Alamat Email</label>
        {{ form.username.errors }}
        <input type="email" name="username" class="form-control" placeholder="contoh@email.com" required autofocus>
      </div>
      <div class="mb-3">
        <label class="form-label">Kata Sandi</label>
        {{ form.password.errors }}
        <input type="password" name="password" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
  </div>
</div>
{% endblock %}